@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome|typicons);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background: #537ec5;
    color: #fff;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
}

header .contenedor {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

#bienvenidos {
    text-align: center;
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy {
    font-size: 20px;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a {
    color: #339EFF;
    text-decoration: none;
}

@media (min-width:768px) { 
    .sociales {
        width: auto;
    }
    
    footer .contenedor {
        justify-content: space-between;
    }
}


@media (min-width:1024px) {
    .contenedor {
        width: 1000px;
    }
}

#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article {
    margin: 15px;
}

#blog img {
    width: 100%;
    max-width: 280px;
}
#banner {
    margin-top: 50px;
    position: relative;
}

#banner img {
    width: 100%;
    height: 100%;
}

#banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #537ec5;
}

#banner h2 {
    font-size: 28px;
}

#banner a {
    display: block;
    width: 100px;
    color: #00D1B4;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #00D1B4;
}

#banner a:hover {
    background: #537ec5 ;
}

@media (min-width:480px) {
    #banner h2 {
        font-size: 40px;
    }
    
    #banner a {
        margin-top: 25px;
    }
}

@media (min-width:768px) { 
    #banner {
        height: 300px;
        overflow: hidden;
    }
    
    #banner img {
        height: auto;
        margin-top: -100px;
    }
}

@media (min-width:1024px) { 
    #banner img {
        margin-top: -200px;
    }
}

#info {
    background: #FFF;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#info .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.infos {
    margin: 20px;
}

.infos img {
    width: 180px;
    height: 180px;

}

@media (min-width:480px) {
    .infos {
        width: 40%;
    }
}

@media (min-width:1024px) {
    .infos {
        width: auto;
    }
}
#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background:#537ec5 ;
    transition: all 0.5s;
    transform: translateX(-100%);
}


.menu a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid black;
}

.menu a:hover {
    background: #FFF;
}

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

@media (min-width:1024px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    
    .menu a {
        border: none;
    }
    
    header label { 
        display: none;
    }
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
  
:root {
    --width-inputs: 80%;
    --bg-color-main: #537ec5;
    --color-main:#537ec5;;
    --color-ok: #537ec5;
    --color-error: #537ec5;
    --font-main: sans-serif;
  }
  

  textarea { resize: none; }
  
  .ContactForm > * {
    padding: .5rem;
    margin: 1rem auto;
    display: block;
    width: var(--width-inputs);
  }
  
  .ContactForm legend {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  .ContactForm input:not([type="submit"]),
  .ContactForm textarea,
  .ContactForm select {
    border: medium solid var(--color-main);
    background-color: var(--bg-color-main);
    color: var(--color-main);
    font-size: 1rem;
    font-family: var(--font-main);
  }
  
  .ContactForm select {
    width: calc(  var(--width-inputs) + 1rem );
  }
  
  .ContactForm input[type="submit"] {
    width: calc(var(--width-inputs) / 2);
    font-family: var(--font-main);
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--color-main);
    color: #000;
    cursor: pointer;
    outline: 0;
    border: 0;
    transition: all .3s ease-out;
  }
  
  .ContactForm input[type="submit"]:hover {
    background-color: var(--bg-color-main);
    color: var(--color-main);
  }
  
  .ContactForm [required]:valid {
    border: thin solid var(--color-ok);
    outline: thin solid var(--color-ok);
  }
  
  .ContactForm [required]:invalid {
    border: thin solid var(--color-error);
    outline: thin solid var(--color-error);
  }
  
  .ContactForm [required]:focus {
    border: thin solid var(--color-main);
    outline: thin solid var(--color-main);
  }
  
  .ContactForm-message {
    padding: .5rem;
    font-size: .85rem;
    background-color: var(--color-main);
    color: var(--bg-color-main);
  }
  
  .u-success { background-color: var(--color-ok); }
  
  .u-error { background-color: var(--color-error); }


  #slider {
    overflow: hidden;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 8s slider infinite;
}
#slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}


