
.formulario .radio label,
.formulario .checkbox label {
    display: inline-block;
    cursor: pointer;
    color: #FFF;
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
.formulario .radio label:hover,
.formulario .checkbox label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 15px;
    border-radius: 50%;
    background: none;
    border: 3px solid #339EFF; }

.formulario .checkbox label:before {
    border-radius: 3px; }
.formulario .checkbox input[type="checkbox"] {
    display: none; }
.formulario .checkbox input[type="checkbox"]:checked + label:before {
    display: none; }
.formulario .checkbox input[type="checkbox"]:checked + label {
    background:#339EFF;
    color:  #FFF  ;
    padding: 5px 15px; }