<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Contacto</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"></link>
    <link href="https://file.myfontastic.com/cTYq33vgqKqFkXRm849TNA/icons.css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet"></link>
    <link href="/css/estilos.css" rel="stylesheet" media="screen"></link>

</head>
<body>  
  <header>
    <div class="contenedor">
        <h1 style="color :white"  class="title is-2 "> Sun and Moon  </h1>
        <input type="checkbox" id="menu-bar"></input>
        <label class="fontawesome-align-justify" for="menu-bar"></label>
        <nav  class="menu">
            <a th:href="@{/}" >Inicio</a>
            <a sec:authorize="!isAuthenticated() " href="#" th:href="@{/login}" >Iniciar Sesion</a>

            <a  sec:authorize="isAuthenticated()"  th:href="@{/Hoteles}">Paquete</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"/> Cerrar Sesion </a>
            <a th:href="@{/contacto}" >Contacto</a>
        </nav>
            </div>
</header>
  <div  style= "margin-top:5em" class="contenedor">
      <h2 style="text-align: center;color :black" class="subtitle is-2" >CONTACTO</h2>
      <div class="columns  is-centered">
          <div class="column is-half" style= "margin-top:0.5em" >
              <form     action="#"  onsubmit="return valida();" th:action="@{/sendMail}"  method="post" >


                  <div class="field">
                      <label class="label">Nombre</label>
                      <div class="control">
                          <input class="input" name="name" id="name" type="text" placeholder=""></input>
                      </div>
                  </div>


                  <div class="field">
                      <label class="label">Email</label>
                      <div class="control">
                          <input class="input" type="email" id="mail" name="mail" placeholder=""></input>
                      </div>

                  </div>

                  <div class="field">
                      <label class="label">Asunto</label>
                      <div class="control">
                          <input class="input" type="text" id="subject" name="subject" placeholder=""></input>
                      </div>
                  </div>


                  <div class="field">
                      <label class="label">Mensaje</label>
                      <div class="control">
                          <textarea class="textarea" id="body" name="body" placeholder=""></textarea>
                      </div>
                  </div>



                  <div style= "margin-top:1.0em" class="columns is-mobile is-centered ">
                      <div class="is-one-quarter">
                          <div class="field is-grouped">
                              <div class="control">
                                  <button  type="submit"  class="button is-link">Enviar</button>
                              </div>
                          </div>
                      </div>
                  </div>




              </form>


          </div>












          <div  style= "margin-top:2.5em" class="column">
              <div id="map-container" class="z-depth-1-half map-container mb-5" style="height: 400px"></div>
          </div>
      </div>
  </div>

  <footer>
      <div class="contenedor">
          <p class="copy">Agencia de Viaje y Turismo</p>
          <div class="sociales">
              <a class="fontawesome-facebook-sign" href="#"></a>
              <a class="fontawesome-twitter" href="#"></a>
              <a class="fontawesome-camera-retro" href="#"></a>
              <a class="fontawesome-google-plus-sign" href="#"></a>
          </div>
      </div>
  </footer>
</body>

<script>
    function valida(){
        var nombre,correo,tema,mensaje,expresion;
        nombre=document.getElementById("name").value;
        correo=document.getElementById("mail").value;
        tema=document.getElementById("subject").value;
        mensaje=document.getElementById("body").value;

        expresion = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;

        if(nombre === "" || correo ==="" || tema === "" || mensaje === "" ) {

            alert("Todos los campos son obligatorios")
            return false;
        }
        else if(nombre.length>30){
            alert("El nombre es muy largo");
            return false;
        }
        else if(correo.length>30){
            alert("El correo es muy largo");
            return false;
        }
        else if(!expresion.test(correo)){
            alert("El correo electronico no es válido");
            return false;
        }
        else if (tema.length>300){
            alert("El tema es muy largo");
            return false;
        }
        else if(mensaje.length>600){
            alert("El mensaje es muy largo");
            return false;
        }

        else{
            alert("Tu mensaje ha sido enviado. Por favor espere la respuesta de nuestro equipo Sun and Moon")
        }


    }

</script>


<script src="https://maps.google.com/maps/api/js?key=AIzaSyBukyTJWMyD9Ri4Ck7e0PpuP6ozJ-cy_PA"></script>
<script src="/js/validar.js"></script>
<script src="/js/mapa.js"></script>
</html>