<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Hoteles</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/slider.js"></script>
    <script src="/js/main.js"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"></meta>
    <link href="https://file.myfontastic.com/cTYq33vgqKqFkXRm849TNA/icons.css" rel="stylesheet"></link>
    <link href="/css/estilos.css" rel="stylesheet" media="screen"></link>
    <link href="/css/modal.css" rel="stylesheet" media="screen"></link>
    <link rel="stylesheet" href="/css/slide.css">
    <link href="https://file.myfontastic.com/cTYq33vgqKqFkXRm849TNA/icons.css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"></link>
    <link href="https://file.myfontastic.com/C9t3Uv2u6vsWAYLzk46oiR/icons.css" rel="stylesheet"></link>


</head>
<body>
    <header>


        <div class="contenedor">
            <h1 style="color: white"  class="title is-2"> Sun and Moon  </h1>
            <input type="checkbox" id="menu-bar"></input>
            <label class="fontawesome-align-justify" for="menu-bar"></label>
            <nav  class="menu">
                <a th:href="@{/}" >Inicio</a>
                <a sec:authorize="!isAuthenticated() " href="#" th:href="@{/login}" >Iniciar Sesion</a>
    
                <a  sec:authorize="isAuthenticated()"  th:href="@{/Tours}">Tour</a>
                <a sec:authorize="isAuthenticated()" th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"/> Cerrar Sesion </a>
                <a th:href="@{/contacto}" >Contacto</a>
            </nav>
        </div>
    </header>



    <section id="info" >
        <div  style= "margin-top:2.5em" >
            <h2 style="text-align: center;color :black" class="subtitle is-2" >Hoteles</h2>
            <h3 style= "margin-top:1.0em;color :black" class="subtitle is-4  " >Trabajamos con los mejores hoteles de Trujillo ,reserve el de su preferencia</h3>
           
           <div class="contenedor">
     
            <div class=" columns">

                <div class="column">
    
                            <h3 style="color:#339EFF" > Costa del Sol Trujillo Centro</h3>
    
                            <img  class="is-rouSnded" src="/img/hotel1.png" alt="">
                            <a href="javascript:window.open('https://www.peru.travel/es-pe/que-hacer/milenario/zona-chan-chan.aspx','','toolbar=yes');void 0"><p class="is-size-6 is-size-5-mobile">Mas información</p></a>
                            <button class="button " style="color: white ; background-color: #537ec5" id="btn-abrir-popup1">Reservar</button>
<form  method = "post" action = "/ReservarHotel">

        <div class="overlay" id="overlay1">
                <div class="popup" id="popup1">

                    <h3  style="color:  #537ec5" class="is-size-6 is-size-5-mobile"  > Costa del Sol Trujillo Centro</h3>


                    <input type="hidden"  name="namehotel" id="namehotel" value="Costa del Sol">

                    <div class="columns">
                     <div class="column">

                            <img  name="slider1">
                 </div>



<div class="column">

<div class="field column ">
        <div  class="columns is-mobile is-centered ">
            <div class="is-one-quarter">
                <div class="control">
                    <div class="field has-addons">


                        <label  class="has-text-left" style="color: black " for="startdate" > Fecha de ingreso: </label>
                        <input  type="date"
                               value="2020-01-01"
                               min="2020-01-01" max="2020-12-31"  name="startdate">

                    
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="field column ">
            <div  class="columns is-mobile is-centered ">
                <div class="is-one-quarter">
                    <div class="control">
                        <div class="field has-addons">
                            <label  class="has-text-left" style=" color: black " for="enddate">Fecha de salida :</label>
                            <input   type="date"
                                    value="2020-01-01"
                                    min="2020-01-01" max="2020-12-31"  name="enddate">
                        </div>
    
                    </div>
                </div>
            </div>
        </div>

        <div class="field column ">
                <div  class="columns is-mobile is-centered ">
                    <div class="is-one-quarter">
                        <div class="control">

                            <div class="field has-addons">

                                <p class="has-text-left" style=" color: black ">Número de habitaciones :</p>

                                    <select name="numberofrooms">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>
            <div class="field column ">
                    <div  class="columns is-mobile is-centered ">
                        <div class="is-one-quarter">
                            <div class="control">
                                <div class="field has-addons">

                                    <p class="has-text-left" style=" color: black ">Número de personas :</p>
                                        <select name="numberofguests">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                </div>
            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field column ">
                        <div  class="columns is-mobile is-centered ">
                            <div class="is-one-quarter">
                                <div class="control">
                                    <div class="field has-addons">
                                        <p class="has-text-left has-text-left-mobile"  style=" color: black ">Tipo de habitaciones :</p>
                                            <select name="type">
                                                    <option class=" has-text-left-mobile" value="40" >Discretas -S/40</option>
                                                    <option class=" has-text-left-mobile" value="80">Suite -S/80</option>
                                                    <option class=" has-text-left-mobile" value="120" >Suite superior  -S/120</option>
                                                </select>
                                    </div>
                
                                </div>
                            </div>
                        </div>
                    </div>
                

                </div>

              </div>
            <div class="columns is-mobile is-centered">
            <div class="column is-half">
            <button style="color: white ; background-color: #537ec5" type="submit" class="button is-primary is-normal">Reservar Hotel</button>
            </div>
            <div class="column is-half">
            <button style="color: white ; background-color: #537ec5"  id="btn-cerrar-popup1" class="button is-primary is-normal">Cancelar</button>
                </div>
                </div>







                    
                </div>

            </div>



</form>
                </div>



                <div class="column">
    
                                <h3 style="color:#339EFF" >Mandala Muchick CLUB</h3>
                                <img  class="is-rounded" src="/img/hotel4.png" alt="">
                                <a href="javascript:window.open('https://www.peru.travel/es-pe/que-hacer/milenario/zona-chan-chan.aspx','','toolbar=yes');void 0"><p class="is-size-6 is-size-5-mobile">Mas información</p></a>
                                
                                <button class="button " style="color: white ; background-color: #537ec5" id="btn-abrir-popup2">Reservar</button>
                                
<form method = "post" action = "/ReservarHotel">


    <div class="overlay" id="overlay2">
        <div class="popup" id="popup2">
            <h3 style="color:  #537ec5" class="is-size-6 is-size-5-mobile"  >Mandala Muchick CLUB</h3>


            <input type="hidden"  name="namehotel"  value="Mandala Muchick">
    <div class="columns">
             <div class="column">
                    <img  name="slider4">
         </div>


<div class="column">

<div class="field column ">
<div  class="columns is-mobile is-centered ">
    <div class="is-one-quarter">
        <div class="control">
            <div class="field has-addons">

                <label  class="has-text-left" style="color: black " for="startdate"> Fecha de ingreso: </label>
                <input  type="date"
                       value="2020-01-01"
                       min="2020-01-01" max="2020-12-31"  name="startdate">

            
            </div>

        </div>
    </div>
</div>
</div>
<div class="field column ">
    <div  class="columns is-mobile is-centered ">
        <div class="is-one-quarter">
            <div class="control">
                <div class="field has-addons">
                    <label  class="has-text-left" style=" color: black " for="enddate">Fecha de salida :</label>
                    <input   type="date"
                            value="2020-01-01"
                            min="2020-01-01" max="2020-12-31"  name="enddate">
                </div>

            </div>
        </div>
    </div>
</div>

<div class="field column ">
        <div  class="columns is-mobile is-centered ">
            <div class="is-one-quarter">
                <div class="control">

                    <div class="field has-addons">

                        <p class="has-text-left" style=" color: black ">Número de habitaciones :</p>

                            <select name="numberofrooms">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="field column ">
            <div  class="columns is-mobile is-centered ">
                <div class="is-one-quarter">
                    <div class="control">
                        <div class="field has-addons">

                            <p class="has-text-left" style=" color: black ">Número de personas :</p>
                                <select name="numberofguests">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="field column ">
                <div  class="columns is-mobile is-centered ">
                    <div class="is-one-quarter">
                        <div class="control">
                            <div class="field has-addons">
                                <p class="has-text-left has-text-left-mobile"  style=" color: black ">Tipo de habitaciones :</p>
                                    <select name="type">
                                            <option class=" has-text-left-mobile" value="40" >Discretas -S/40</option>
                                            <option class=" has-text-left-mobile" value="80">Suite -S/80</option>
                                            <option class=" has-text-left-mobile" value="120" >Suite superior  -S/120</option>
                                        </select>
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>



</div>




</div>
<div class="columns is-mobile is-centered">
<div class="column is-half">
<button style="color: white ; background-color: #537ec5" type="submit" class="button is-primary is-normal">Reservar Hotel</button>



</div>

<div class="column is-half">


<button style="color: white ; background-color: #537ec5"   id="btn-cerrar-popup2" class="button is-primary is-normal">Cancelar</button>

</div>



</div>
            
        </div>

    </div>

</form>

                </div>




                <div class="column">
    
                                    <h3 style="color:#339EFF" >Tierra Viva</h3>
            
                                    <img  class="is-rounded" src="/img/hotel2.png" alt="">
                                    <a href="javascript:window.open('https://www.peru.travel/es-pe/que-hacer/milenario/zona-chan-chan.aspx','','toolbar=yes');void 0"><p class="is-size-6 is-size-5-mobile">Mas información</p></a>
                                    <button class="button " style="color: white ; background-color: #537ec5" id="btn-abrir-popup3">Reservar</button>
                                    <form method = "post" action = "/ReservarHotel">
                                    
                        
                                        <div class="overlay" id="overlay3">
                                            <div class="popup" id="popup3">
                                                <h3 style="color:  #537ec5" class="is-size-6 is-size-5-mobile"  >Tierra Viva</h3>

                                                <input type="hidden"  name="namehotel"  value="Tierra Viva">
                                                <div class="columns">
    
                                                 <div class="column">
    
                                                        <img  id= "slider2" name="slider2">
                                             </div>
    
                       
                    <div class="column">
                
                            <div class="field column ">
                                    <div  class="columns is-mobile is-centered ">
                                        <div class="is-one-quarter">
                                            <div class="control">
                                                <div class="field has-addons">
                            
                                                    <label  class="has-text-left" style="color: black " for="startdate"> Fecha de ingreso: </label>
                                                    <input  type="date"
                                                           value="2020-01-01"
                                                           min="2020-01-01" max="2020-12-31" name="startdate">
                            
                                                
                                                </div>
                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field column ">
                                        <div  class="columns is-mobile is-centered ">
                                            <div class="is-one-quarter">
                                                <div class="control">
                                                    <div class="field has-addons">
                                                        <label  class="has-text-left" style=" color: black " for="enddate">Fecha de salida :</label>
                                                        <input   type="date"
                                                                value="2020-01-01"
                                                                min="2020-01-01" max="2020-12-31"  name="enddate">
                                                    </div>
                                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="field column ">
                                            <div  class="columns is-mobile is-centered ">
                                                <div class="is-one-quarter">
                                                    <div class="control">
                
                                                        <div class="field has-addons">
                
                                                            <p class="has-text-left" style=" color: black ">Número de habitaciones :</p>
                
                                                                <select name="numberofrooms">
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                        <option value="5">5</option>
                                                                    </select>
                                                        </div>
                                    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field column ">
                                                <div  class="columns is-mobile is-centered ">
                                                    <div class="is-one-quarter">
                                                        <div class="control">
                                                            <div class="field has-addons">
                
                                                                <p class="has-text-left" style=" color: black ">Número de personas :</p>
                                                                    <select name="numberofguests">
                                                                            <option value="1">1</option>
                                                                            <option value="2">2</option>
                                                                            <option value="3">3</option>
                                                                            <option value="4">4</option>
                                                                            <option value="5">5</option>
                                                                        </select>
                                                            </div>
                                        
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field column ">
                                                    <div  class="columns is-mobile is-centered ">
                                                        <div class="is-one-quarter">
                                                            <div class="control">
                                                                <div class="field has-addons">
                                                                    <p class="has-text-left has-text-left-mobile"  style=" color: black ">Tipo de habitaciones :</p>
                                                                        <select name="type">
                                                                                <option class=" has-text-left-mobile" value="40" >Discretas -S/40</option>
                                                                                <option class=" has-text-left-mobile" value="80">Suite -S/80</option>
                                                                                <option class=" has-text-left-mobile" value="120" >Suite superior  -S/120</option>
                                                                            </select>
                                                                </div>
                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                
                            
                
                        </div>
                
                
                
                
                </div>
                <div class="columns is-mobile is-centered">
                        <div class="column is-half">
                            <button style="color: white ; background-color: #537ec5" type="submit" class="button is-primary is-normal">Reservar Hotel</button>
                        </div>
                    <div class="column is-half">
    
    
                        <button style="color: white ; background-color: #537ec5"   id="btn-cerrar-popup3" class="button is-primary is-normal">Cancelar</button>
    
                    </div>
                    </div>
                                                
                                            </div>
                
                                        </div>
                                    
                                    
                                    
                                    
                                    
                                    </form>
                                    
                                    
                                   
                </div>
                <div class="column">
    
                                        <h3 style="color:#339EFF" >Qp Hotels</h3>
                
                                        <img  class="is-rounded" src="/img/hotel3.png" alt="">
                                        <a href="javascript:window.open('https://www.peru.travel/es-pe/que-hacer/milenario/zona-chan-chan.aspx','','toolbar=yes');void 0"><p class="is-size-6 is-size-5-mobile">Mas información</p></a>
                                        <button class="button " style="color: white ; background-color: #537ec5" id="btn-abrir-popup4">Reservar</button>
                                        <form  method = "post" action = "/ReservarHotel">

 
                                            <div class="overlay" id="overlay4">
                                                <div class="popup" id="popup4">
    
                                                    <h3 style="color:  #537ec5" class="is-size-6 is-size-5-mobile"  >Tierra Viva</h3>

                                                    <input type="hidden"  name="namehotel"  value="Tierra Viva">
                                            
                                                    <div class="columns">
                                                     <div class="column">
    
                                                            <img  name="slider3">
                                                 </div>
                    
                           
                        <div class="column">
                    
                                <div class="field column ">
                                        <div  class="columns is-mobile is-centered ">
                                            <div class="is-one-quarter">
                                                <div class="control">
                                                    <div class="field has-addons">
                                
                                                        <label  class="has-text-left" style="color: black " for="startdate"> Fecha de ingreso: </label>
                                                        <input  type="date"
                                                               value="2020-01-01"
                                                               min="2020-01-01" max="2020-12-31"  name="startdate">
                                
                                                    
                                                    </div>
                                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field column ">
                                            <div  class="columns is-mobile is-centered ">
                                                <div class="is-one-quarter">
                                                    <div class="control">
                                                        <div class="field has-addons">
                                                            <label  class="has-text-left" style=" color: black " for="enddate">Fecha de salida :</label>
                                                            <input   type="date"
                                                                    value="2020-01-01"
                                                                    min="2020-01-01" max="2020-12-31" id="enddate" name="enddate">
                                                        </div>
                                    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                    
                                        <div class="field column ">
                                                <div  class="columns is-mobile is-centered ">
                                                    <div class="is-one-quarter">
                                                        <div class="control">
                    
                                                            <div class="field has-addons">
                    
                                                                <p class="has-text-left" style=" color: black ">Número de habitaciones :</p>
                    
                                                                    <select name="numberofrooms">
                                                                            <option value="1">1</option>
                                                                            <option value="2">2</option>
                                                                            <option value="3">3</option>
                                                                            <option value="4">4</option>
                                                                            <option value="5">5</option>
                                                                        </select>
                                                            </div>
                                        
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field column ">
                                                    <div  class="columns is-mobile is-centered ">
                                                        <div class="is-one-quarter">
                                                            <div class="control">
                                                                <div class="field has-addons">
                    
                                                                    <p class="has-text-left" style=" color: black ">Número de personas :</p>
                                                                        <select name="numberofguests">
                                                                                <option value="1">1</option>
                                                                                <option value="2">2</option>
                                                                                <option value="3">3</option>
                                                                                <option value="4">4</option>
                                                                                <option value="5">5</option>
                                                                            </select>
                                                                </div>
                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="field column ">
                                                        <div  class="columns is-mobile is-centered ">
                                                            <div class="is-one-quarter">
                                                                <div class="control">
                                                                    <div class="field has-addons">
                                                                        <p class="has-text-left has-text-left-mobile"  style=" color: black ">Tipo de habitaciones :</p>
                                                                            <select name="type">
                                                                                    <option class=" has-text-left-mobile" value="40" >Discretas -S/40</option>
                                                                                    <option class=" has-text-left-mobile" value="80">Suite -S/80</option>
                                                                                    <option class=" has-text-left-mobile" value="120" >Suite superior  -S/120</option>
                                                                                </select>
                                                                    </div>
                                                
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                    
                                
                    
                            </div>
                    
                    
                    
                    
                    </div>
                    <div class="columns is-mobile is-centered">
                            <div class="column is-half">
                                <button style="color: white ; background-color: #537ec5" type="submit" class="button is-primary is-normal">Reservar Hotel</button>
                            </div>
                        <div class="column is-half">
    
    
                            <button style="color: white ; background-color: #537ec5" type="submit"  id="btn-cerrar-popup4" class="button is-primary is-normal">Cancelar</button>
    
                        </div>
                        </div>
                                                    
                                                </div>
                    
                                            </div>


                                        </form>
                                       
                </div>        
            </div>



           </div>
           
           
      
        </div>
        </div>
    </section>
    <footer>
        <div class="contenedor">
            <p style="color:#339EFF " class="copy"> Agencia de Viaje y Turismo</p>
            <div class="sociales">
                <a class="fontawesome-facebook-sign" href="#"></a>
                <a class="fontawesome-twitter" href="#"></a>
                <a class="fontawesome-camera-retro" href="#"></a>
                <a class="fontawesome-google-plus-sign" href="#"></a>
            </div>
        </div>
    </footer>
    </body>
    
    <script src="/js/main.js"></script>
    <script src="/js/validar.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js "></script>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>

    <script src="https://maps.google.com/maps/api/js?key=AIzaSyAg2Ey_woHMjOyWGOr7sKBB6aMh2XoKY9w"></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyAg2Ey_woHMjOyWGOr7sKBB6aMh2XoKY9w"></script>
    
    </html>