<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Sun and Moon</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"></meta>
    <link href="https://file.myfontastic.com/cTYq33vgqKqFkXRm849TNA/icons.css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet"></link>
    <link href="/css/estilos.css" rel="stylesheet" media="screen"></link>
    <link href="/css/modal.css" rel="stylesheet" media="screen"></link>
    <link href="https://file.myfontastic.com/cTYq33vgqKqFkXRm849TNA/icons.css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"></link>
</head>
<body>
<header>

    
    <div class="contenedor">
        <h1 style="color :white"  class="title is-2"> Sun and Moon  </h1>
        <input type="checkbox" id="menu-bar"></input>
        <label class="fontawesome-align-justify" for="menu-bar"></label>
        <nav  class="menu">
            <a th:href="@{/}" >Inicio</a>
            <a sec:authorize="!isAuthenticated() " href="#" th:href="@{/login}" >Iniciar Sesion</a>

            <a  sec:authorize="isAuthenticated()"  th:href="@{/Hoteles}">Paquete</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"/> Cerrar Sesion </a>
            <a th:href="@{/contacto}" >Contacto</a>
        </nav>

    </div>
</header>
<section >



    <div id="logo">
        <img th:src="@{/img/trujillos.jpg}" id="banner" alt="image" width="100%"/>
    </div>
    <div class="contenedor">
    </div>
</section>
<section id="bienvenidos">
    <div   class="contenedor">
        <h2 class="subtitle is-2" >Bienvenido  </h2>
        <h2 style= "margin-top:-0.5em" class="subtitle is-2" sec:authorize="isAuthenticated()"  sec:authentication="principal.username" > </h2>
        <p>Esta será tu mejor experiencia de viaje a trujillo. Compra tus boletos en linea, reserva el hotel y arma tu propio paquete turistico que te hara vivir una experiencia inolvidable.</p>
    </div>

</section>


<footer>
    <div class="contenedor">
        <p class="copy"> Agencia de Viaje y Turismo</p>
        <div class="sociales">

            <a class="fontawesome-facebook-sign" href="https://www.facebook.com/Sun-and-moon-112318516835360/?modal=composer&notif_id=1575558208341386&notif_t=aymt_simplified_make_page_post&ref=notif"target="_blank"></a>
            <a class="fontawesome-twitter" href="#"></a>
            <a class="fontawesome-camera-retro" href="#"></a>
            <a class="fontawesome-google-plus-sign" href="#"></a>
        </div>
    </div>
</footer>
</body>
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js "></script>
<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
<script src="/js/main.js"></script>
<script src="/js/validar.js"></script>
<script src="/js/slider.js"></script>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyAg2Ey_woHMjOyWGOr7sKBB6aMh2XoKY9w"></script>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyAg2Ey_woHMjOyWGOr7sKBB6aMh2XoKY9w"></script>

</html>