<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Iniciar Sesión</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    <link href="/css/estilos.css" rel="stylesheet" media="screen"></link>
    <link href="/css/modal.css" rel="stylesheet" media="screen"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"></link>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"></meta>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="/js/login.js"></script>

</head>

<body>

<header>
    <div class="contenedor">
        <h1 style="color :white"  class="title is-2 "> Sun and Moon  </h1>
        <input type="checkbox" id="menu-bar"></input>
        <label class="fontawesome-align-justify" for="menu-bar"></label>
        <nav  class="menu">
            <a href="#" th:href="@{/}">Inicio</a>
            <a th:href="@{/contacto}" >Contacto</a>
        </nav>

    </div>
</header>

<div style= "margin-top:5em"  class="columns is-mobile">
    <div class="   column is-half is-offset-one-quarter">

        <h2 style="text-align: center;color :black" class="subtitle is-3" >Inicia Sesion</h2>





        <form th:action="@{/login}" method="post">

            <div class="columns is-mobile is-centered " th:if="${param.error}">
                <div style="color: rgb(252, 24, 24)" class=" message-heade">
                    Nombre de usuario y/o contraseña inválidos.
                </div>
            </div>
            <div class="columns is-mobile is-centered " th:if="${param.logout}">
                <div style="color: #1896FC" class=" message-heade">
                    Has sido desconectado.
                </div>
            </div>





            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="text" name="username" id="username" placeholder="Usuario" required="true" autofocus="true"></input>
                    <span class="icon is-small is-left">
                                                    <i class="	fas fa-user"></i>
                                                  </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password"  name="password" id="password" placeholder="Contraseña" required="true"  ></input>
                    <span class="icon is-small is-left">
                                                    <i class="	fas fa-key"></i>
                                                  </span>
                </p>
            </div>

            <div style= "margin-top:2.0em" class="columns is-mobile is-centered ">
                <div class="is-one-quarter">
                    <input type="submit"  class="button is-primary" id="btnRegister" value="Entrar" />
                </div>
            </div>



            <p  style="text-align: center;color :black">Si aún no tienes una cuenta en Sun and Moon: <a href="#" th:href="@{/Registro}">Registro</a></p>






        </form>





    </div>
</div>





<footer>
    <div class="contenedor">
        <p class="copy"> Agencia de Viaje y Turismo</p>
        <div class="sociales">
            <a class="fontawesome-facebook-sign" href="#"></a>
            <a class="fontawesome-twitter" href="#"></a>
            <a class="fontawesome-camera-retro" href="#"></a>
            <a class="fontawesome-google-plus-sign" href="#"></a>
        </div>
    </div>
</footer>

</body>


<script src="/js/main.js"></script>
<script src="/js/validar.js"></script>
<script src="/js/slider.js"></script>


</html>

