<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    <link href="/css/estilos.css" rel="stylesheet" media="screen"></link>
    <link href="/css/modal.css" rel="stylesheet" media="screen"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"></link>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"></meta>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="/js/register.js"></script>

</head>

<body>

<header>
    <div class="contenedor">
        <h1 style="color :white"  class="title is-2 "> Sun and Moon  </h1>
        <input type="checkbox" id="menu-bar"></input>
        <label class="fontawesome-align-justify" for="menu-bar"></label>
        <nav  class="menu">
            <a href="#" th:href="@{/}">Inicio</a>
            <a th:href="@{/contacto}" >Contacto</a>
        </nav>
    </div>
</header>

<div style= "margin-top:5em"  class="columns is-mobile">
    <div id="register" role="form" class="column is-half is-offset-one-quarter">

        <h2 style="text-align: center;color :black" class="subtitle is-3" >Registrate</h2>

        <form  action="#"  onsubmit="return registrar();" id="formRegister" th:object="${users}" th:action="@{/user}" method="post">

            <div class=" columns is-mobile is-centered  " th:if="${message}">
                <span style="color: #1896FC" class=" message-heade">Registrado con éxito</span>
            </div>



            <div  class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="text"  th:field="*{firstname}" id="firstname" placeholder="Nombre"></input>
                    <span class="icon is-small is-left">
                                    <i class="	fas fa-address-card"></i>
                                  </span>
                </p>
            </div>

            <div  class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="text" th:field="*{lastname}" id="lastname" placeholder="Apellido"></input>
                    <span class="icon is-small is-left">
                                    <i class="fas fa-address-card"></i>
                                  </span>

                </p>
            </div>

            <div  class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="email" th:field="*{email}" id="email" placeholder="Email"></input>
                    <span class="icon is-small is-left">
                                    <i class="fas fa-at"></i>
                                  </span>

                </p>
            </div>

            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="number" th:field="*{phone}" id="phone" placeholder="Telefono"></input>
                    <span class="icon is-small is-left">
                                    <i class="	fas fa-user"></i>
                                  </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="text" th:field="*{username}" id="username" placeholder="Usuario"></input>
                    <span class="icon is-small is-left">
                                    <i class="	fas fa-user"></i>
                                  </span>
                </p>
            </div>

            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password"  th:field="*{password}" id="password" placeholder="Contraseña"></input>
                    <span class="icon is-small is-left">
                                    <i class="	fas fa-key"></i>
                                  </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password"  placeholder="Repita la contraseña la contraseña"></input>
                    <span class="icon is-small is-left">
                                    <i class="	fas fa-key"></i>
                                  </span>
                </p>
            </div>


            <div style= "margin-top:2.0em" class="columns is-mobile is-centered ">
                <div class="is-one-quarter">
                    <input type="submit"  class="button is-primary" id="btnRegister" value="Crear cuenta" />
                </div>
            </div>



            <p  style="text-align: center;color :black">Ya falta poco para entrar a Sun and Moon <a  th:href="@{/login}">Login</a></p>

        </form>
    </div>

</div>





<footer>
    <div class="contenedor">
        <p class="copy"> Agencia de Viaje y Turismo</p>
        <div class="sociales">
            <a class="fontawesome-facebook-sign" href="#"></a>
            <a class="fontawesome-twitter" href="#"></a>
            <a class="fontawesome-camera-retro" href="#"></a>
            <a class="fontawesome-google-plus-sign" href="#"></a>
        </div>
    </div>
</footer>

</body>


<script>
    function registrar(){
        var nombre,apellido,email,telefono,username,contraseña,expresion;
        nombre=document.getElementById("firstname").value;
        apellido=document.getElementById("lastname").value;
        email=document.getElementById("email").value;
        telefono=document.getElementById("phone").value;
        username=document.getElementById("username").value;
        contraseña=document.getElementById("password").value;
        expresion = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
        if(nombre === "" || apellido ==="" || email === "" || telefono === "" || username === "" || contraseña === "" ) {
            alert("Todos los campos son obligatorios")
            return false;
        }
        else if(nombre.length>30){
            alert("El nombre es muy largo");
            return false;
        }
        else if(!isNaN(nombre)){
            alert("El nombre no puede ser un número");
            return false;
        }
        else if(apellido.length>30){
            alert("El apellido es muy largo");
            return false;
        }
        else if(!isNaN(apellido)){
            alert("El apellido no puede ser un número");
            return false;
        }
        else if(email.length>30){
            alert("El correo es muy largo");
            return false;
        }
        else if(telefono.length>30){
            alert("El telefono es muy largo");
            return false;
        }
        else if(isNaN(telefono)){
            alert("El telefono ingresado no es un número");
            return false;
        }
        else if(username.length>30){
            alert("Username es muy largo");
            return false;
        }
        else if(!isNaN(username)){
            alert("Username no puede ser un número");
            return false;
        }
        else if(!expresion.test(email)){
            alert("El correo electronico no es válido");
            return false;
        }
        else if(contraseña.length>30){
            alert("La contraseña es muy larga como maximo 30 caracteres");
            return false;
        }
        else{
            alert("Estas registrado")
        }
    }
</script>

<script src="/js/main.js"></script>
<script src="/js/validar.js"></script>
<script src="/js/slider.js"></script>


</html>