<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Tours</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"></meta>
    <link href="https://file.myfontastic.com/cTYq33vgqKqFkXRm849TNA/icons.css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet"></link>
    <link href="/css/input.css" rel="stylesheet" media="screen"></link>
    <link href="/css/estilos.css" rel="stylesheet" media="screen"></link>
    <link href="/css/modal.css" rel="stylesheet" media="screen"></link>
    <link href="https://file.myfontastic.com/cTYq33vgqKqFkXRm849TNA/icons.css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"></link>
    <link href="https://file.myfontastic.com/C9t3Uv2u6vsWAYLzk46oiR/icons.css" rel="stylesheet"></link>

</head>
<body>
<header>


    <div class="contenedor">
        <h1 style="color: white"  class="title is-2"> Sun and Moon  </h1>
        <input type="checkbox" id="menu-bar"></input>
        <label class="fontawesome-align-justify" for="menu-bar"></label>
        <nav  class="menu">
            <a th:href="@{/}" >Inicio</a>
            <a sec:authorize="!isAuthenticated() " href="#" th:href="@{/login}" >Iniciar Sesion</a>

            <a  sec:authorize="isAuthenticated()"  th:href="@{/Hoteles}">Hoteles</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"/> Cerrar Sesion </a>
            <a th:href="@{/contacto}" >Contacto</a>
        </nav>
    </div>
</header>


<section id="info" >
    <div  style= "margin-top:2.5em" >
        <h2 style="text-align: center;color :black" class="subtitle is-2" >Tour</h2>
        <h3 class="subtitle is-4 " style="color :black">Paso 1 : Escoje las preferencias de viaje</h3>

        <div   class=" contenedor ">


            <div class="field column ">
                <div  class="columns is-mobile is-centered ">
                    <div class="is-one-quarter">
                        <div class="control">
                            <div class="field has-addons">
                                <div class="control">
                                    <button style="color: white ; background-color: #537ec5" type="submit" class="button ">Número de personas</button>
                                </div>
                                <div class="control ">
                                    <div class="select is-fullwidth">
                                        <select name="country">
                                            <option value="Argentina">1</option>
                                            <option value="Bolivia">2</option>
                                            <option value="Brazil">3</option>
                                            <option value="Bolivia">4</option>
                                            <option value="Brazil">5</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="field column ">
                <div  class="columns is-mobile is-centered ">
                    <div class="is-one-quarter">
                        <div class="control">
                            <div class="field has-addons">
                                <div class="control">
                                    <button style="color: white ; background-color: #537ec5" type="submit" class="button ">Vehiculo del viaje</button>
                                </div>
                                <div class="control is-expanded">
                                    <div class="select  ">
                                        <select name="country">
                                            <option value="Argentina">Público</option>
                                            <option value="Bolivia">Privado</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="field column ">
                <div  class="columns is-mobile is-centered ">
                    <div class="is-one-quarter">
                        <div class="control">
                            <div class="field has-addons">
                                <div class="control">
                                    <button style="color: white ; background-color: #537ec5"  class="button ">Guia Turistico</button>
                                </div>
                                <div class="control is-expanded">
                                    <div class="select  ">
                                        <select name="country">
                                            <option value="Argentina">Español</option>
                                            <option value="Bolivia">Ingles</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="field column ">
                <div  class="columns is-mobile is-centered ">
                    <div class="is-one-quarter">
                        <div class="control">
                            <div class="field has-addons">
                                <div class="control">
                                    <button style="color: white ; background-color: #537ec5" type="submit" class="button ">Servicio de comida</button>
                                </div>
                                <div class="control is-expanded">
                                    <div class="select ">
                                        <select name="country">
                                            <option value="Argentina">Basico</option>
                                            <option value="Bolivia">Normal</option>
                                            <option value="Argentina">Premium</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>

        <h3 style= "margin-top:1.0em;color :black" class="subtitle is-4" class="has-text-left" style="">Paso 2 : Selecciona los lugares que quieras visitar</h3>
        <div class="contenedor">


            <form class="formulario" action="#"  onsubmit="return touraviso();"  method="post" >
            <div class="columns">
                <div class="column">
                    <div class="checkbox">
                        <input style="color: #339EFF" type="checkbox" name="checkbox" id="checkbox1">
                        <label  style="color: black" class="is-size-6 is-size-5-mobile"for="checkbox1"> Huacas - Chan Chan
                        </label>
                        <img   height="100%" width="100%" class="is-rounded" src="/img/1.jpg" alt="">
                    </div>
                    <a href="javascript:window.open('https://www.peru.travel/es-pe/que-hacer/milenario/zona-chan-chan.aspx','','toolbar=yes');void 0"><p class="is-size-6 is-size-5-mobile">Mas información</p></a>

                <div class="content">
                        <ul >

                                <li style="color: black" class="has-text-left"> Tickets </li>
                            <li style="color: black" class="has-text-left"> Huaca del Sol</li>
                            <li style="color: black" class="has-text-left">  Huaca de la Luna </li>
                                <li style="color: black"class="has-text-left">  Visita al Museo </li>
                                <li style="color: black" class="has-text-left">  Llegada a la ciudadela   </li>
                            </ul>
                            <p style="color: black">
                                    Duración
                                    Full Day (1 día) </p>
                            <input class="is-centered" type="date" id="start" name="trip-start"
                                   value="2020-01-01"
                                   min="2020-01-01" max="2020-12-31">
                            <p class="is-size-6 is-size-5-mobile" style="color: #339EFF">Precio por persona: S/. 30.00
                                </p>
                          
                </div>
                </div>
                <div class="column">
                        <div class="checkbox">
                            <input style="color: #339EFF" type="checkbox" name="checkbox" id="checkbox2">
                            <label  style="color: black" class="is-size-6 is-size-5-mobile"for="checkbox2"> City tour Trujillo</label>
                            <img   height="100%" width="100%" class="is-rounded" src="/img/2.jpg" alt="">
                        </div>
                        <a href="javascript:window.open('https://www.tripadvisor.com.pe/Attraction_Review-g445065-d506822-Reviews-Playa_de_Huanchaco-Huanchaco_La_Libertad_Region.html','','toolbar=yes');void 0"><p class="is-size-6 is-size-5-mobile">Mas información</p></a>
    
                    <div class="content">
                            <ul > 
                   
                                    <li style="color: black" class="has-text-left"> Tickets </li>
                                    <li  style="color: black" class="has-text-left">Plaza de Armas de Trujillo </li>
                                    <li style="color: black"  class="has-text-left">  Las casonas coloniales</li>
                                    <li style="color: black" class="has-text-left">  El Mural más grande de sur-américa  </li>
                                    <li style="color: black"  class="has-text-left">       Universidad Nacional de Trujillo  </li>
                                    <li style="color: black"  class="has-text-left">      Estadio Mansiche  </li>
                                    <li style="color: black"  class="has-text-left">      Escuela de bellas artes  </li>
                                    <li style="color: black" class="has-text-left">      Alameda de los Héroes  </li>
                                </ul>
                                <p style="color: black">
                                        Duración
                                        Full Day (1 día) </p>

                        <input class="is-centered" type="date" id="start" name="trip-start"
                               value="2020-01-01"
                               min="2020-01-01" max="2020-12-31">

                        <p class="is-size-6 is-size-5-mobile" style="color: #339EFF">Precio por persona: S/. 20.00
                                    </p>
                    </div>
                    </div>
                    <div class="column">
                            <div class="checkbox">
                                <input style="color: #339EFF" type="checkbox" name="checkbox" id="checkbox3">
                                <label  style="color: black" class="is-size-6 is-size-5-mobile"for="checkbox3">Huanchaco</label>
                                <img   height="100%" width="100%" class="is-rounded" src="/img/3.jpg" alt="">
                            </div>
                            <a href="javascript:window.open('https://www.peru.travel/es-pe/que-hacer/milenario/zona-chan-chan.aspx','','toolbar=yes');void 0"><p class="is-size-6 is-size-5-mobile">Mas información</p></a>
        
                        <div class="content">
                                <ul > 
                                    
                                        <li style="color: black" class="has-text-left"> Ticket de ingreso  </li>
                                        <li style="color: black" class="has-text-left"> Tour de Surf  </li>
                                        <li  style="color: black" class="has-text-left"> Paseo en Caballito de Totora  </li>

                                    </ul>
                                    
                                    <p style="color: black" >
                                            Duración
                                            Full Day (1 día) </p>

                            <input class="is-centered" type="date" id="start" name="trip-start"
                                   value="2020-01-01"
                                   min="2020-01-01" max="2020-12-31">

                            <p class="is-size-6 is-size-5-mobile" style="color: #339EFF" >Precio por persona: S/. 50.00
                                    </p>

                        </div>
                        </div>
                        <div class="column">
                                <div class="checkbox">
                                    <input style="color: #339EFF" type="checkbox" name="checkbox" id="checkbox4">
                                    <label  style="color: black" class="is-size-6 is-size-5-mobile"for="checkbox4"> Huamachuco</label>
                                    <img   height="100%" width="100%" class="is-rounded" src="/img/4.png" alt="">
                                </div>
                                <a href="javascript:window.open('https://www.peru.travel/es-pe/que-hacer/milenario/zona-chan-chan.aspx','','toolbar=yes');void 0"><p class="is-size-6 is-size-5-mobile">Mas información</p></a>
            
                            <div class="content">
                                    <ul >


                                        <li style="color: black" class="has-text-left"> Tickets </li>
                                            <li style="color: black" class="has-text-left">   Visita a la Laguna del Toro. </li>
                                            <li style="color: black" class="has-text-left">  Tour a la Laguna Sausacocha. </li>
                                        <li style="color: black"  class="has-text-left">
                                            Tour Markahuamachuco. </li>
                                        </ul>

                                <p style="color: black">
                                    Duración
                                    Full Day (1 día) </p>

                                <input class="is-centered" type="date" id="start" name="trip-start"
                                       value="2020-01-01"
                                       min="2020-01-01" max="2020-12-31">

                                <p class="is-size-6 is-size-5-mobile" style="color: #339EFF" >Precio por persona: S/. 70.00
                                </p>
                            </div>
                            </div>
   
                        
            </div>

            <div class="columns is-mobile is-centered">
                <div class="column is-half">
                    <button style="color: white ; background-color: #537ec5" type="submit" class="button is-primary is-medium is-fullwidth">Comprar tour</button>
                </div>
            </div>

    
        </form>

        </div>
    </div>
</section>
<footer>
    <div class="contenedor">
        <p style="color:#339EFF "  class="copy"> Agencia de Viaje y Turismo</p>
        <div class="sociales">
            <a class="fontawesome-facebook-sign" href="#"></a>
            <a class="fontawesome-twitter" href="#"></a>
            <a class="fontawesome-camera-retro" href="#"></a>
            <a class="fontawesome-google-plus-sign" href="#"></a>
        </div>
    </div>
</footer>
</body>

<script>
    function touraviso(){
       alert("Disculpe las molestias aun nos encontramos en desarrollo , por ahora solo contamos con el servicio de Hoteles. Gracias" +
           " \n Atte : Equipo de Sun and Moon")
    }
</script>
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js "></script>
<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
<script src="../static/js/main.js"></script>
<script src="../static/js/validar.js"></script>
<script src="../static/js/slider.js"></script>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyAg2Ey_woHMjOyWGOr7sKBB6aMh2XoKY9w"></script>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyAg2Ey_woHMjOyWGOr7sKBB6aMh2XoKY9w"></script>

</html>